

<h1>Merchandise</h1>
<div id="products-container">
    {% for product in products %}
        <div class="product">
            <img class="product-image" src="{{ product.image_url }}" alt="{{ product.name }}">
            <h2 class="product-name">{{ product.name }}</h2>
            <p class="product-description">{{ product.description }}</p>
            <p class="product-price">Price: ${{ product.price }}</p>

            
            <h3 class="quantity-title text-light">Quantity:</h3>
            <select name="quantity" class="form-select form-select-md" style="width: 150px; font-size: 25px;" id="qty-cart-{{ product.id }}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <p class="product-rating">Rating: {{ product.rating }}</p>
            <button type="button" class="add-cart" value="{{ product.id }}" method="POST">Add to cart</button>
        </div>
    {% endfor %}
</div>

<script>
// check button press
$(document).on('click', '.add-cart', function(e){
    var productId = $(this).val();
    var quantity = $('#qty-cart-' + productId).val()
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{% url 'cart_add' %}",
        data: {
    product_id: productId,
    quantity: quantity,
    csrfmiddlewaretoken: '{{ csrf_token }}',
    action: 'post',
        },

        success: function(response){
            alert(response.message);
            location.reload();
        },

        error: function(xhr, errmsg, err){

        },
    });
})

</script>